<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Не знаю, мне правки не приходили. Может на сервере в спаме застряли</string>
	<string>Все уже почти было готово, но у меня появился Вариант получше, поэтому я решил сделать его, но потом я передумал.</string>
	<string>Вообще, я еще позавчера все сделал, но при тестировании выяснилось, что нужно оптимизировать код, иначе будут проблемы с безопасностью и быстродействием. Думаю, это в ваших интересах.</string>
	<string>Я поправился и галстук стал давить на шею, из-за этого я практически не могу думать. Сегодня сажусь на диету. Через 5 дней выйду на связь.</string>
	<string>Я сделал один раз за два дня до дедлайна. Но это было просто круто, как всегда. А для вас я хотел сделать супер-пупер-мегакруто. И стал переделывать и не успел...</string>
	<string>Я всё сделал еще два дня назад, но из-за неточностей в тз всё работало не так как вы ожидали, переделывал всё с нуля.</string>
	<string>У нас сильная авария, перебили оптоволокно, нет интернета по всему району. Поехал в другую часть города в коворкинг, так там из-за аварии нет мест. Пока не починят я без инета</string>
	<string>Я опоздал потому, что было уже поздно выходить раньше</string>
</array>
</plist>
